@model List<ListAllPostViewModel>

@{
    /*
     Blog index page
     */

    ViewBag.Title = "Welcome to my Blog App";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- Page Content -->
<div class="container">
       
    <div class="row">
    
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">
                Recents Blogs
            </h1>
            <!-- Blog Post -->

            @Html.Partial("~/Views/Shared/_PostListPartial.cshtml")

        </div>
    </div>
</div>
